rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    // Reglas para la colección 'hogares' (Grupo Hogar)
    match /hogares/{hogarId} {
      // Permitir lectura y escritura solo a usuarios autenticados
      allow read, write: if request.auth != null;
    }
    
    // Reglas para la colección 'users' (Vinculación de usuario a Hogar)
    match /users/{userId} {
      // Solo el propio usuario puede leer y escribir su asociación de hogar
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }

    // Reglas para la colección 'push_subscriptions'
    match /push_subscriptions/{subId} {
      allow read, write: if request.auth != null;
    }
  }
}
